<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Geral - PIXELTI</title>
    <th:block th:replace="~{fragments/favicon :: icone}"></th:block>
    <link rel="stylesheet" th:href="@{/css/global.css}">
	<link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>

    <div th:replace="~{fragments/header :: navbar}"></div>

    <main>
        <div class="welcome-section">
            <i class="far fa-window-restore" style="font-size: 3rem; color: #2c3e50; margin-bottom: 15px;"></i>
            <div class="welcome-text">
                <h2>Painel de Controle</h2>
                <p>Olá, <strong th:text="${usuario.nome}">Usuário</strong>. Selecione o módulo que deseja acessar.</p>
            </div>
        </div>
        
        
        <br>
                
       <!--  <div class="iframe-container">
    		<iframe 
        		src="https://web.erpeasy.compels.net/#home" 
        		title="Descrição do conteúdo para acessibilidade"
        		loading="lazy"
        		sandbox="allow-scripts allow-same-origin allow-forms"
        		referrerpolicy="no-referrer-when-downgrade"
        		allowfullscreen>
   			</iframe>
		</div> -->
				
				
		<br>
		<br>

        <div class="dashboard-grid">
            
          <!--  <a th:href="@{/pastores}" class="card-action card-pastor">
    			<div class="icon-box"><i class="fas fa-user-tie"><!-- fa-file-invoice-dollar </i></div> 
    
    			<h3>HELPDESK</h3>
    
    			<p>Gestão de chamados!</p>
		   </a> -->

           <!-- <a th:href="@{/acesso-profissional}" class="card-action card-profissional">
                <div class="icon-box"><i class="fas fa-users-cog"><!-- fa-sitemap, fa-bullhorn,  </i></div>
                <h3>ERP</h3>
                <p>Sistema Compels, otimizador de processos empresariais.</p>
            </a> -->

          
            <a th:href="@{/rede-credenciada}" class="card-action" style="border-bottom: 5px solid #fd7e14;">
                <div class="icon-box" style="background: #fff5f5; color: #fd7e14;"><i class="fas fa-headset"><!-- fa-map-marked-alt --></i></div>
                <h3>HELPDESK</h3>
                <p style="font-size: 0.85rem; line-height: 1.4;">
                    Sistema Inteligente para Gestão de Chamados.
                </p>
            </a>
            
                          
            <a th:href="@{/rede-credenciada}" class="card-action" style="border-bottom: 5px solid #fd7e14;">
                <div class="icon-box" style="background: #fff5f5; color: #fd7e14;"><i class="fas fa-clipboard-check"><!-- fa-map-marked-alt --></i></div>
                <h3>QUALIDADE</h3>
                <p style="font-size: 0.85rem; line-height: 1.4;">
                    Gestão de Processos.
                </p>
            </a>

            <a th:href="@{/telemedicina}" class="card-action card-tele">
                <div class="icon-box"><i class="fas fa-broadcast-tower"><!-- fa-file-invoice-dollar --></i></div>
                <h3>CONFERÊNCIAS</h3>
                <p>Reunião e alinhamento empresarial.</p>
            </a>

            <a th:href="@{/admin/login}" class="card-action card-admin">
                <div class="icon-box"><i class="fas fa-cogs"><!-- fa-file-invoice-dollar --></i></div>
                <h3>ADMINISTRAÇÃO</h3>
                <p>Configurações do sistema.</p>
            </a>
            
                        
              <a th:href="@{/rede-credenciada}" class="card-action" style="border-bottom: 5px solid #fd7e14;">
                <div class="icon-box" style="background: #fff5f5; color: #fd7e14;"><i class="fas fa-calendar-alt"><!-- fa-map-marked-alt --></i></div>
                <h3>AGENDA</h3>
                <p style="font-size: 0.85rem; line-height: 1.4;">
                    Agendamentos e compromissos PIXEL TI.
                </p>
            </a>
            
                                               
            <a th:href="@{/rede-credenciada}" class="card-action" style="border-bottom: 5px solid #fd7e14;">
                <div class="icon-box" style="background: #fff5f5; color: #fd7e14;"><i class="fas fa-cubes"><!-- fa-map-marked-alt --></i></div>
                <h3>ERP</h3>
                <p style="font-size: 0.85rem; line-height: 1.4;">
                    Sistema Compels, otimizador de processos empresariais.
                </p>
            </a>
            
        </div>
    </main>

    <div th:replace="~{fragments/footer :: rodape}"></div>

</body>
</html>